* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: var(--fontFamily-noto_sans);
  }

  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }

  body {
    background: var(--bg-oxford-blue-2);
    color: var(--text-color); 
  }

  .profile{
    align-items: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  :root {
     /** Background colors */
     --bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
     --bg-carolina-blue: hsla(199, 89%, 49%, 1);
     --bg-prussian-blue: hsla(216, 33%, 20%, 1);
     --bg-oxford-blue: hsla(222, 44%, 13%, 1);
     --bg-oxford-blue-2: hsla(222, 47%, 11%, 1);
     --bg-color: #1f242d;
     --second-bg-color: #323946;
     --main-color: #0ef;

     /** Text colors */
    --text-color: #fff;
    --text-white: hsla(0, 0%, 100%, 1);
    --text-alice-blue: hsla(216, 100%, 95%, 1);
    --text-columbia-blue: hsla(199, 69%, 84%, 1);
    --text-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --text-carolina-blue: hsla(199, 89%, 49%, 1);
    --text-shadow-blue: hsla(217, 24%, 59%, 1);
    --text-slate-gray: hsla(217, 17%, 48%, 1);


    --border-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --border-prussian-blue: hsla(216, 33%, 20%, 1);
    --border-white: hsl(0, 0%, 100%);
    --border-white-alpha-15: hsla(0, 0%, 100%, 0.15);
  
 
  /**
   * BOX SHADOW
   */

  --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0px 3px 20px hsla(180, 90%, 43%, 0.2);
   
    /**
   * BORDER RADIUS
   */

  --radius-6: 6px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-48: 48px;
  --radius-circle: 50%;
  --radius-pill: 200px;


  /** Gradient colors */
  --gradient-1: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
  --gradient-3: linear-gradient(0deg, #000d1a, transparent);

    /* TRANSITION */
   

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

  /*TYPOGRAPHY */
     --section-padding: 70px; 

    /** Font family */
    --fontFamily-noto_sans: 'Noto Sans', sans-serif;  
  }
  .bg-home-color{
    height: 100vh;
    background-color:#0f0e13;
    background-image: 
      radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
      radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
      radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
  }
  .about-section{
    height: 100vh;
    width: 100vw;
    background-color:#0f0e13;
    background-image: 
      radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
      radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
  }

  .skills-section{
    height: auto;
    width: 100vw;
    background-color: #0f0e13;
    background-image: 
      radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
      radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
  }
  .project-section{
    height: 100vh;
    width: 100vw;
    background-color: #0f0e13;
    background-image: 
      radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
      radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
  }
  #github-statics{
    height: 100vh;
    width: 100vw;
  }

.header  {
    /* position: fixed; */
    text-decoration: none;
    display: flex;
    align-items: center;
    /* padding: 2rem 10%; */
    justify-content: space-between;
    width: 100%;
    color: rgb(255, 255, 255);
    margin: 10px 40px 0px 0px;
    background-color: rgb(31, 65, 128);
}

.header a{
    color: rgb(211, 220, 236);
    text-decoration: none;
    color: black;
    font-family: system-ui;
    padding: 8px;
    font-size: 20px;
}

.header a,:hover{
    color: violet;
    /* text-transform: uppercase; */
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, -2);
}
